<div class="sidebar overflow-y-scroll">
  <div class="flex flex-col px-4 pt-8">
    <h1 class="text-lg font-medium mb-4">
      Getting started!
    </h1>
    <div>
      <p class="text-neutral-500 font-medium">Introduction</p>
      <p class="text-neutral-500 font-medium">Installation</p>
      <p class="text-neutral-500 font-medium">Uninstallation</p>
    </div>
  </div>
</div>
