<div class="sidebar overflow-y-scroll">
  <div class="flex flex-col px-4 pt-8">
    <h1 class="text-lg font-medium mb-4">
      Getting started!
    </h1>
    <div>
      <a href="#installation">
        <p class="text-neutral-500 font-medium">Installation</p>
      </a>
      <a href="#uninstall">
        <p class="text-neutral-500 font-medium">Uninstall</p>
      </a>
    </div>
  </div>
</div>
