@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

html, body {
  background-color: #F7F8FA;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  color: #46444c;
  position: relative;
}

body:before {
  content: '';
  background: #5A45FF;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
  position: absolute;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: #5A45FF;
  text-decoration: none;
}

main {
  max-width: 1200px;
  margin: auto;
  height: 100vh;
  padding: 0 30px;
}



