<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    @entryPointScripts('app')
    @entryPointStyles('app')
    <style>
      * { margin: 0; padding: 0; }
      .header { 
        height: 60px; 
        background: #5a45ff; 
      }
      .layout { 
        height: calc(100vh - 120px); 
        display: flex; 
      }
      .sidebar { 
        height: 100%; 
        background: rgb(248 250 252); 
        width: 250px; 
      }
      main { 
        height: 100%; 
        background: #f9f9f9;
        flex: 1;
        background: white;
        border-radius: 40px;
        padding-inline: 40px;
        height: 90%;
        box-shadow: 0px 2px 20px #888888;
      }
      .footer { height: 60px; background: #5a45ff; color: white; }
    </style>
  </head>
  <body>
    @include('partials/header')

    <section class="layout">
      @include('partials/sidebar')
      <main class="py-12 px-8">
        @!section('body')
      </main>
    </section>

    @include('partials/footer')
  </body>
</html>